body {
  background: #222;
  color: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}

#library-list {
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 1em;
  height: 1em;
  text-align: left;
  cursor: default;
  font-size: 2em;
  border-bottom-right-radius: .2em;
  transition: width .3s, height .3s, background .3s, border-right .3s, border-bottom .3s;
}

#library-list ul {
  list-style-type: square;
  margin: 10px 10px 0px 0px;
  padding: 0px;
}

#library-list ul li {
  white-space: nowrap;
  margin: 0px .1em .1em 1em;
  padding: 0px;
}

.lib-list-collapsed {
  background: transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.lib-list-expanded {
  background: #333;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}

#library-details {
  display: inline-block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.slideshow-image {
  position: absolute;
  top: 0px;
  transition: opacity .3s, transform .3s;
}

#info-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.2em 0.5em .2em 0.5em;
  font-size: .7em;
  text-align: left;
  border-top-right-radius: .3em;
  opacity: .6;
}
